@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
  --mainPink: rgb(206, 40, 156);
}

main {
  min-height: 80vh;
}

header {
  background: hsla(260, 40%, 5%, 1);
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  font-family: "Montserrat", sans-serif;
  display: flex;
  margin: auto;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  color: white;
  z-index: 2;
  width: 600px;
  justify-content: space-between;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}
.burger {
  display: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: rgb(17, 13, 26);
}

main {
  width: 80%;
  margin: 0 auto;
}
.contentContainer {
  display: flex;
  color: white;
  margin-top: 5rem;
  justify-content: space-evenly;
}
.contentContainer img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  pointer-events: none;
}
h1 {
  font-family: "Roboto", "serif";
  font-weight: 400;
  letter-spacing: 3px;
}
.line {
  width: 3.5rem;
  height: 3px;
  background-color: white;
  margin: 1rem 0;
}
.rightCol {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  max-width: 600px;

}
.rightCol p {
  font-size: 1.1rem;
}

.rig .buttons {
  width: 30rem;
}

.buttons a {
  font-family: Verdana, Tahoma, sans-serif;
  display: inline-block;
  margin: 2rem 0;
  padding: 0.5rem;
  font-weight: 600;
  border: 3px solid white;
  background-color: rgb(46, 46, 46);
  transition: all 0.25s ease;
  border-radius: 2rem;
}

.buttons a:hover {
  background-color: #4a078d;
  border-color: #17a0ca;
}

/* Footer */

footer {
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  bottom: 0;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer p {
  padding: 2.5rem;
}
footer img {
  width: 2rem;
  margin-right: 2rem;
}

.iconcontainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-height: 600px) {
  footer {
    position: static;
  }
}

@media screen and (max-width: 678px) {
  .contentContainer {
    margin: 0;
  }


  footer {
    position: static;
  }
  .contentContainer img {
    background-color: white;
  }
  nav {
    display: none;
    position: fixed;
    width: 40%;
    height: 100vh;
    right: 0;
    background-color: rgb(39, 9, 68);
    transition: all 0.8s ease;
  }
  .active {
    display: block;
  }
  ul {
    flex-direction: column;
    margin: 25vh 2.5rem;
  }
  ul li {
    margin: 1rem 0;
    width: 200px;
  }
  .burger {
    position: absolute;
    display: block;
    right: 2rem;
    top: 1rem;
  }
  footer p {
    padding: 1rem;
  }
  .rightCol {
    padding: 0;
  }
}

@media screen and (max-width: 416px) {
  .buttons a {
    width: 150px;
    margin: 0.5rem auto;
  }

  .buttons a:nth-child(1) {
    margin-top: 2rem;
  }
  .buttons a:nth-child(2) {
    margin-bottom: 3rem;
  }
  ul {
    flex-direction: column;
    margin: 25vh 1rem;
    flex-wrap: nowrap;
  }
  footer {
    flex-direction: column;
  }
  footer p {
    padding: 0.5rem;
  }
  footer img {
    margin: 0.5rem;
    margin-top: 1rem;
  }
}
