<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/loginStyles.css" />
    <title>Login to DevRaigardas</title>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="/"><img src="./icons/lowreslogo.png"/></a></li>
            <li><a href="/" id="home">Home</a></li>
          </ul>
        </nav>
        <div class="burger" onclick="toggleNav()">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </header>
      <div class="arrow-container -expand-arrows-animation">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
      </div>
      <div class="wrapper">
        <div class="title-text">
          <div class="title login">Register</div>
        </div>
    
          <div class="form-inner">
    
<form action="#" class="signup">
    <div class="field">
      <input type="text" placeholder="Email Address" required>
    </div>
    <div class="field">
      <input type="password" placeholder="Password" required>
    </div>
    <div class="field">
      <input type="password" placeholder="Confirm password" required>
    </div>

    <div class="field">
      <input type="submit" value="Signup">
    </div>

  </form>