* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 240, 240);
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  position: sticky;
  top: -1px;
  padding-top: 1px;
  margin-top: -480px;
  z-index: 999;
}

nav.isSticky {
  background-color: #00a0ae;
  opacity: 0.95;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(/white-cloudy-blue-sky-133953.jpg);
  background-position: center;
  min-height: 60vh;
  color: white;
  margin-bottom: 15rem;
}

#logo {
  text-decoration: none;
  color: white;
}

.search-form {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  min-width: 400px;
}

h2 {
  text-align: center;
  max-width: 600px;
}

.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
}

.search-form button {
  border: none;
  padding: 0.5rem;
  background: #59b87d;
  color: white;
  cursor: pointer;
}

main {
  margin-top: 150px;
}

.gallery-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: gray;
  padding: 0.5rem 0rem;
}
.gallery-img {
  margin-top: 2rem;
  position: relative;
}

.gallery-info a {
  color: gray;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  -webkit-column-gap: 5rem;
  column-gap: 5rem;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  max-height: 650px;
  -o-object-fit: cover;
  object-fit: cover;
}
.gallery-img {
  transition: all 0.3s ease;
}
.gallery-img:hover {
  transform: scale(1.1);
}
.nav-button {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.dlBtn {
  bottom: -10px;
  position: absolute;
  background-color: #59b87d;
  width: 100%;
  display: block;
  text-align: center;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

.more {
  padding: 1rem 3rem;
  background: #8e8ada;
  color: white;
  border: none;
  cursor: pointer;
  color: white;
}

@media screen and (max-height: 812px) {
  nav {
    margin-top: -425px;
  }
}
